@CHARSET "UTF-8";  
.myButton{
   appearance:button;
   -moz-appearance:button; /* Firefox */
   -webkit-appearance:button; /* Safari 和 Chrome */
   box-sizing:border-box;
   -moz-box-sizing:border-box; /* Firefox */
   -webkit-box-sizing:border-box; /* Safari */;
   padding: 0;
   width: 30px;
   height: 30px;
   background: silver;
   padding: 0;
}
.myButton0{
   width: 30px;
   height: 30px;
   color:gray;
   background:gray;
}
.myButton1{
   background: gray;
   color:blue;
   font-size:10px;
   width: 30px;
   height: 30px;
}
.myButton2{
   background: gray;
   font-size:10px;
   color:green;
   width: 30px;
   height: 30px;
}
.myButton3{
   background: gray;
   color:yellow;
   width: 30px;
   height: 30px;
}
.myButton4{
   background: gray;
   color: aqua;
   width: 30px;
   height: 30px;
}
.myButton5{
   background: gray;
   color: fuchsia;
   width: 30px;
   height: 30px;
}
.myButton6{
   background: gray;
   color:lime;
   width: 30px;
   height: 30px;
}
.myButton7{
   background: gray;
   color: teal;
   width: 30px;
   height: 30px;
}

.myButton8{
   background: gray;
   color: navy;
   width: 30px;
   height: 30px;
}

.myButton_{
   background: gray;
   color: red;
   width: 30px;
   height: 30px;
}